<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-07-13-Docker.md</key>
			<dict>
				<key>lastModification</key>
				<real>553182768.33299994</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2018-07-13-init-blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>553182739.20754194</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-07-13-init.md</key>
			<dict>
				<key>lastModification</key>
				<real>553183319.46512496</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2018-07-14-容器内传输文件以及安装jdk.md</key>
			<dict>
				<key>lastModification</key>
				<real>555481982.32227099</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2018-07-14-解决了python版本兼容问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>553245424.55296302</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2018-07-23-nginx的部署.md</key>
			<dict>
				<key>lastModification</key>
				<real>555481982.32227099</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2018-08-06-Hadoop集群的无密码ssh登录设置.md</key>
			<dict>
				<key>lastModification</key>
				<real>555481982.32227194</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2018-08-09-类的一些基础知识.md</key>
			<dict>
				<key>lastModification</key>
				<real>566831801.69386399</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>2018-08-16-zookeeper的伪分布式搭建.md</key>
			<dict>
				<key>lastModification</key>
				<real>556091944.26640296</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>2018-08-24-使用iso文件搭建本地源离线安装linux包.md</key>
			<dict>
				<key>lastModification</key>
				<real>556780936.99699104</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2018-10-09-hadoop搭建全分布式环境的一些问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>560771286.88665295</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2018-12-18-hadoop-in-docker.md</key>
			<dict>
				<key>lastModification</key>
				<real>566830519.07620502</real>
				<key>version</key>
				<dict>
					<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
					<integer>52</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>556092116.83927095</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-12-18-hadoop-in-docker.md</string>
		</array>
		<array>
			<string>2018-10-09-hadoop搭建全分布式环境的一些问题.md</string>
		</array>
		<array>
			<string>2018-08-24-使用iso文件搭建本地源离线安装linux包.md</string>
		</array>
		<array>
			<string>2018-07-13-init.md</string>
		</array>
		<array>
			<string>2018-08-16-zookeeper的伪分布式搭建.md</string>
		</array>
		<array>
			<string>2018-07-14-解决了python版本兼容问题.md</string>
		</array>
		<array>
			<string>2018-07-13-init-blog.md</string>
		</array>
		<array>
			<string>2018-07-13-Docker.md</string>
		</array>
		<array>
			<string>2018-07-14-容器内传输文件以及安装jdk.md</string>
		</array>
		<array>
			<string>2018-07-23-nginx的部署.md</string>
		</array>
		<array>
			<string>2018-08-06-Hadoop集群的无密码ssh登录设置.md</string>
		</array>
		<array>
			<string>2018-08-09-类的一些基础知识.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
			<integer>57</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>69b9a9519a6df1520ace36a5f9cad9369d3c1b4855d0103aff10dc7e9a3730fa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
